.Orthogard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Orthogard .titulo {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: #008655;
}

.Orthogard .titulo .accion h1 {
  margin: 0;
  font-family: "HeavyItalic";
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Orthogard .titulo .accion h4 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.Orthogard .titulo .nombre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.Orthogard .titulo .nombre h4 {
  margin: 0;
  font-family: "Light";
  font-size: 1rem;
}

.Orthogard .titulo .nombre h1 {
  margin: 0;
  font-family: "Light";
  font-size: 3rem;
}

.Orthogard .titulo .nombre h1 b {
  font-family: "Bold";
}

.Orthogard .front {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.Orthogard .information {
  width: 50%;
  height: min-content;
  text-align: center;
  color: #008655;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: yellow; */
}

.Orthogard .information h1 {
  margin: 0;
  font-family: "HeavyItalic";
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.Orthogard .information h4 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.Orthogard .bullets {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}

.Orthogard .bullets .imgBullets img {
  width: 50px;
}

.Orthogard .btnAcction {
  width: 100%;
  height: 70px;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Orthogard .btnAcction .icon.circle {
  width: 15%;
  font-size: 3rem;
}

.Orthogard .btnAcction button.btn {
  min-width: 60px;
  min-height: 60px;
  margin: 0 16px 0;
  padding: 0;
  border: 2px solid #008655;
  background: none;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "Heavy";
  color: #008655;
}

.Orthogard .btnAcction button.btn span {
  width: 100%;
  text-align: center;
}

.Orthogard .ventajas-div {
  height: max-content;
  margin-top: 16px;
  margin-left: 50px;
  text-align: left;
}

.Orthogard .ventajas-div .content {
  display: flex;
  align-items: center;
}

.Orthogard .ventajas-div .content p {
  margin: 0;
  margin-left: 1rem;
}

.Orthogard button.btn.ventajas {
  width: min-content;
  height: min-content;
  /* margin: 16px 16px 0; */
  padding: 10px 16px;
  border: 2px solid #008655;
  background: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Heavy";
  color: #008655;
}

.Orthogard .btnAcction p {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

.Orthogard span.text-header {
  font-weight: bold;
  font-family: "Bold";
}

.Orthogard span.text-body {
  font-family: "Light";
}

.Orthogard .footer {
  width: 80%;
  height: 5vh;
  text-align: center;
  margin: 0 auto;
  color: #757575;
  font-family: "Light";
}

.footer p {
  font-size: 10px;
}

.vl {
  border-left: 3px solid #008655;
  position: absolute;
  margin-left: -3px;
  left: 2.75rem;
}

.line1 {
  height: 80px;
  top: 17.5rem;
}

.line2 {
  height: 100px;
  top: 24rem;
}

.Orthogard .animation {
  width: 50%;
}

.Orthogard .animation .animation-3d canvas {
  transform: translateX(-12rem) !important;
}